body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column, .right-column {
    flex: 1;
    padding: 10px;
}

.left-column {
    border-right: 1px solid #ddd;
}

h1, h2, h3 {
    color: #008CBA;
}

form {
    background-color: rgb(203, 232, 240);
    padding: 10px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="number"], .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 3px;
}

button:hover {
    background-color: #005f73;
}

#reset {
    background-color: white;
    color: black;
    border: solid;
    border-width: 1px;
}

#reset:hover {
    background-color: lightgray;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


.bbrp {
    text-align: center;
    color: black;
}

.penyakit {
    text-align: center;
    line-height: 22px;
}

footer {
    text-align: center;
}

/*ul li {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: grid;
}
